.hide-mobile{
    display: none;
}

body{
    background-color: #edf2fa;
} 
.wrap{
    margin: 2em;
}
header{
    display: flex;
    justify-content: space-between;
}
nav ul{
background-color: #edf2fa;
position: fixed;
z-index: 999;
top: 0;
right: 0;
height: 100vh;
margin: 0;
list-style: none;
width: 40;
text-align: right;
padding: 2em;
transform: translateX(100%);
transition: transform 0.5s ease-in-out;
li{
    margin: 1em 0;
    &:nth-of-type(1){
        margin-bottom: 2em;
    }
    a{
        color: #2b2d40;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        &:hover{
            color: darkcyan;
        }
    }
}
}
.open{
    transform: translateX(0%);
}

.menu-close img {
    width: 3em;  
    height: 3em;
}
.menu-open img {
    width: 3em;  
    height: 3em;
}
.header-left img {
    width: 3em;
    height: 3em;
}

h1, h2, p {
    text-align: center;
    color: #2b2d40;
}

h1{
    margin-top: 1em;
    img{
        display: block;
        margin: 0 auto;
    }
}

p{
    font-size: 1.2rem;
    line-height: 1.5;
}

.primary-cta{
    background-color: #2b2d40;
    padding: 1em;
    width:100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    color: #edf2fa;
    border-radius: 0.5em;
    margin-top: 3em;
}
.developer{
    position: relative;
    height: 500px;
    width: 100%;
    margin-top: 3em;

    img{
        left: 50%;
        top: 6em;
        width: 250px;
        height: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .outer-cycle{
        position: absolute;
        border-radius: 50%;
        left: 50%;
        top: 2em;
        transform: translate(-50%);
        background-color: #2b2d40;
        width: 400px;
        height: 400px;
        z-index: -1;
    }
}

@media (min-width: 798px){
    .wrap{
        margin: 0 4em;
    }
    .hide-desktop {
        display: none;
    }
    .hide-mobile{
        display: block;
    }
    .header-left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;

        .divider{
            height: 50px;
            width: 1px;
            border-right: 1px solid gray;
        }

        a{
            text-decoration: none;
            color: #2b2d40;
            font-size: 1.2rem;
        }
    }
    nav ul{
        position: unset;
        background: none;
        display: flex;
        gap: 2em;
        height: auto;
        width: auto;
        transform: translateX(0%);
        li{
            font-size: 1.2rem;
        }
    }
}
@media (min-width: 950px) {
    h1, h2, p{
        text-align: left;
    }
    h1 img{
        margin: 0;
    }
    main{
        width: 50%;
    }
    .developer{
        margin-top: 0;
    }
    .developer-container{
        position: absolute;
        z-index: -1;
        width: 50%;
        top: 20%;
        right: 0;
    }
}
@media(min-width:1200px){
    .wrap{
        margin: 0 auto;
        padding: 0 2em;
        max-width: 1200px;
    }
    a.primary-cta{
        display: inline-block;
        width: auto;
        padding: 1em 2em;
    }
}
